*{
    padding: 0%;
    margin: 0%; 
 }
main{
    background-color: blueviolet;
    height: 100vw;
}


h1{
    color: red;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    }
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
P{
    background-color: blueviolet;
    text-align: left;
}
.menu{
    margin-left: 80px;
}
.fotopro img{
    padding-left: 45%;

}
.imagenImportante img{
    padding-left: 25%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.menu {
    background-color: rgb(159, 130, 238);
}
.menu ul li{
    display: inline;
    margin-left: 16rem;
}
.menu ul li a{
    text-decoration: none;
}

.calendario img{
    margin-left: 25%;
}

.abajo{
    font-family: 'Montserrat', sans-serif;
}



